body{
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  background-color: lightgray;
  width: 99.5vw;
  height: 7vh;
}
.container{
  width: 99.5vw;
  height: 92vh;
  background-color: rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  align-items: center;

}
.pop-up{
  width: 90vw;
  height: 50vh;
  background-color: black;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.454);
}

