body{
  margin: 0px;
  padding: 0px;
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  background-color: #ACB0BD;
  width: 99.5vw;
  height: 7vh;
  min-width: 1000px;
  z-index: 1;
}
.hamburger{
  padding: 15px;
  width: 40px;
  cursor: pointer;
  position: relative;
}
.menu{
  position: fixed;
  background-color: #d0cdd7a7;
  color: black;
  width: 10vw;
  height: 89vh;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.menu-hidden{
  visibility: hidden;
  position: fixed;
  z-index: 2;
}
.container{
  width: 99.5vw;
  height: 89vh;
  background-color: #0B3948;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 1000px;
  z-index: 0;

}
.pop-up{
  width: 90vw;
  height: 50vh;
  background-color: #416165;
  box-shadow: 50px 50px 20px rgba(0, 0, 0, 0.279);
  display: flex;
  min-width: 1000px;
  min-height: 500px;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  
}
.pop-up-text{
  font-size: 40px;
  width: 500px;
  margin: 40px;
}
.highlight{
  color: #0B3948;
}
.links{
  width: 500px;
  height: 200px;
  justify-content: space-between;
}
.projects{
  display: flex;
}
.projects>a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  margin-bottom: 10px;
  background-color: #ACB0BD;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #0B3948;
  cursor: pointer;
  padding: 28px;
  margin-left: 10px;
}
.seeMore{
  display: flex;
  height: 50%;
}
.see-more-link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex: auto;
  background-color: #c6a500;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #0B3948;
  cursor: pointer;
  font-size: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.444);
  transition: background-color .05s, box-shadow .05s;
}
.see-more-link:hover{
  background-color: #e3bd00;
  text-decoration: underline;
}
.see-more-link:active{
  text-decoration: underline;
  box-shadow: 0px 0px 0px black;
}
.footer{
  background-color: #ACB0BD;
  width: 99.5vw;
  height: 3vh;
  min-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer>p{
  margin: 0;
  padding: 0;
}

